canvas {
  background-image: url('../assets/images/paper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

.save-image {
  position: absolute;
  bottom: 20px;
  right: 30px;
}