.drawer {
  box-sizing: border-box;
  position: fixed;
  background-image: url('../assets/images/drawer-bg.jpg');
  top: 0;
  left: -400px;
  width: 400px;
  height: 100vh;
  overflow: auto;
  padding: 50px;
  box-shadow: inset -20px 0 20px rgba(0,0,0,.5);
  transition: left .3s ease-out;
  border-right: 15px solid #231800;
  img {
    max-width: 100%;
  }
  ul {
    padding: 0;
  }
  li {
    background-color: #fff;
    list-style: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    h2 {
      text-align: center;
    }
    .delete-drawing-btn {
      color: #F44336;
      display: inline-block;
      cursor: pointer;
      padding: 10px;
    }
  }
}