body {
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 300;
  overflow: hidden;
}

.drawer-open {
  .drawer {
    left: 0;
  }
  .toggle-drawer-btn {
    left:400px;
  }
}

.toggle-drawer-btn {
  display: inline-block;
  width: 160px;
  height: 120px;
  background-image: url('../assets/images/knob.png');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: left .3s ease-out; 
}